[submodule "Source/imgui"]
	path = Source/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/glfw"]
	path = Source/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Source/cgltf"]
	path = Source/cgltf
	url = https://github.com/sultim-t/cgltf
[submodule "Source/glaze"]
	path = Source/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "Source/glm"]
	path = Source/glm
	url = https://github.com/g-truc/glm
[submodule "Source/DX12"]
	path = Source/DX12
	url = https://github.com/microsoft/DirectX-Headers.git
